.table{
    width: 100%;
    tr{
        th{
            text-align: center;
            background: #CDD9E8;
            color: #194F95;
            font-weight: bold;
            padding: 16px 0;
        }
        td{
            text-align: center;
            color: #82A0C5;
            padding: 16px 0;
        }
    }
}
